@model  IEnumerable<CustomerViewModel>

<div class="bg-primary m-1 p-1 text-white"><h4>Customers</h4></div>

<table class="table table-sm table-bordered">
    <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Droid apps</th>
    <th>iOS apps</th>
    <th>Active slots</th>
    <th>PO</th>
    <th></th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No customers.</td></tr>
    }
    else
    {
        foreach (CustomerViewModel customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.DroidAppsCount</td>
                <td>@customer.IosAppsCount</td>
                <td>@customer.ActiveSlotsCount</td>
                <td>@customer.ProducOwner.FullName</td>
                <td><a class="btn btn-sm btn-primary" asp-action="EditCustomer" asp-route-id="@customer.Id">Edit</a></td>
            </tr>
        }
    }
</table>
<a class="btn btn-primary" asp-action="CreateCustomer">Create customer</a>